.CartItem {
  padding: 20px 50px;
  display: flex;
  gap: 50px;
}

.CartItem > .image {
  width: 150px;
  padding-bottom: 150px;
  background-image: url("../images/test.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: white;
}

.CartItem .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
}

.CartItem .text .name {
  font-size: 1.5rem;
}

.CartItem .text .price {
  font-size: 1.1rem;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .CartItem {
    padding: 20px 5px;
    display: flex;
    gap: 20px;
  }
  .CartItem .text .name {
    font-size: calc(0.8rem + 0.3vw);
  }
  .CartItem > .image {
    width: 70px;
    padding-bottom: 70px;
  }
  .CartItem .AmountController .amount {
    border: none;
    width: 20px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  .CartItem .AmountController {
    gap: 1px;
  }
  .CartItem .AmountController :is(.decrement, .increment) {
    width: 25px;
    font-size: 1.3rem;
  }
}
