.NavBar {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: black;
  color: white;
  padding: 20px 30px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 10;
  align-items: center;
}

.NavBar > .logo {
  font-size: calc(1rem + 1.5vw);
  font-weight: bold;
  width: fit-content;
}

.NavBar > ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: calc(1rem + 1vw);
}

a {
  text-decoration: none;
  color: inherit;
}

.NavBar :is(.logo, li) {
  border-bottom: 3px solid black;
  transition: 0.3s;
}

.NavBar :is(.logo, li):hover {
  border-bottom: 3px solid blueviolet;
}

.NavBar .cart {
  position: relative;
}

.NavBar .cart .size {
  position: absolute;
  top: 50%;
  right: -50%;
  border-radius: 50%;
  background-color: blueviolet;
  color: white;
  padding: 0.25em;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.NavBar .cart .size_value {
  overflow: visible;
  height: 0;
  margin-top: -1.1em;
}

.NavBar .cart .size:after {
  content: "";
  display: block;

  /* Ensure the element is a square */
  height: 0;
  width: 100%;
  padding-bottom: 100%;
}

@media only screen and (max-width: 800px) {
  .NavBar {
    grid-template-columns: 1fr 1.5fr;
    padding: 10px 20px;
  }
  .NavBar > ul {
    justify-content: space-evenly;
  }
}
