.Shop {
  padding: 30px 2vw;
  display: grid;
  grid-template-columns: 13vw 1fr;
  grid-gap: 40px;
}

.Shop .not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
}

@media only screen and (max-width: 1400px) {
  .Shop {
    padding: 10px 40px;
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }
}
