.SubscribeForm {
  display: flex;
}

.SubscribeForm > input {
  font-size: 1.3rem;
  border: none;
  background-color: white;
  padding: 5px;
  border: 2px solid white;
}

.SubscribeForm > input[type="email"]:focus {
  outline: none;
  border-color: blueviolet;
}

.SubscribeForm > input[type="submit"] {
  background-color: black;
  border-color: black;
  color: white;
  transition: 0.3s;
}

.SubscribeForm > input[type="submit"]:hover {
  background-color: blueviolet;
  border-color: blueviolet;
}
