.TypeSelector {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.TypeSelector .heading {
  font-size: 2rem;
  font-weight: bold;
  width: fit-content;
  margin-bottom: 10px;
}

.TypeSelector .type {
  font-size: 1.3rem;
  width: fit-content;
  border-bottom: 3px solid white;
  transition: 0.3s;
  cursor: default;
}

.TypeSelector .type:hover {
  border-color: blueviolet;
}

.TypeSelector .type.selected {
  border-color: blueviolet;
}
